.banner__titulo{
    width: 80%;
    color: #fdfdfd;
    font-family: Pacifico, cursive;
    font-size: 5.0625rem;
    position: absolute;
    left: 50%;
    text-align: center;
    top: 40%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    transform: translate(-50%, -50%);
    line-height: 120px;

}

@media screen and (max-width: 1024px) {
    .banner__titulo{
        top: 20%;
        font-size: 4rem;
        width: 80%;
        line-height: 90px;
    }

}
@media screen and (max-width: 600px) {
    .banner__titulo{
        top: 20%;
        font-size: 1.5rem;
        width: 60%;
        line-height: 40px;
    }

}

